.privacypolicy-banner {
    height: 350px !important;
    background-position: bottom;
}
.privacy {
    background-color: #000;
    padding: 60px 0;
}
p {
    font-size: 15px;
    margin-bottom: 20px;
}
h5 {
    font-size: 24px;
    line-height: 34px;
    font-family: 'Poppins';
    font-weight: 800;
}
@media (max-width: 576px) {
    .universal-banner h1.title {
        font-size: 65px;
        line-height: 75px;
    }
}
@media (max-width: 321px) {
    .privacypolicy-banner {
        height: 200px !important;
    }
    .universal-banner h1.title {
        font-size: 35px;
        line-height: 45px;
    }
    p {
        font-size: 13px;
        margin-bottom: 20px;
        text-align: justify;
        text-align-last: center;
    }
}
